<table>
    <tr>
        <td><button class='navigate' name='list_categories'>List Categories</button></td>
        <td><button class='navigate' name='add_category'>Add Category</button></td>
    </tr>
</table>


