<table>
    <tr>
        <td><a href='[% request.uri_base %]/list_shown_items'>Shown Items</a></td>
        <td><a href='[% request.uri_base %]/list_all_items'>All Items</a></td>
        <td><a href='[% request.uri_base %]/add_item'>Add Item</a></td>
    </tr>
</table>

