<table>
    <tr>
        <td><button class='navigate' name='list_shown_items'>Shown Items</button></td>
        <td><button class='navigate' name='list_hidden_items'>Hidden Items</button></td>
        <td><button class='navigate' name='list_all_items'>All Items</button></td>
        <td><button class='navigate' name='add_item'>Add Item</button></td>
    </tr>
</table>

