<html>
    <head>

        [% INCLUDE header_jquery.tt %]

    </head>
    <body>
        <div class='center'>
            <table>

                <tr><td colspan='2'>
                    <h1>Khaospy : Login</h1>
                </td></tr>

                <form method='post' action='/dancer/login'>
                    <tr>
                        <td>User name</td>
                        <td><input type='text' name='user' value='' /></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type='password' name='password' value='' /></td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align='right'>
                            <input type='submit' name='submit' value='Submit'/>
                            <input type='hidden' name='return_url' value='[% return_url %]'/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align='right'>
                            <input type='submit' name='reset_password' value='Reset Password'/>
                        </td>
                    </tr>

                </form>
            </table>

        </div>
    </body>
</html>

