<html>
<head>

    [% INCLUDE header_jquery.tt %]

    <script src="/js/status.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/status.css">

</head>
<body>
    <div class='center'>

        [% INCLUDE title_linkbar.tt %]

        <table>
            <tr>
                <th>Control</th>
                <th>On</th>
                <th>Off</th>
                <th>Status</th>
                <th>Last Update time</th>
                <th>Changed</th>
            </tr>

          [% FOREACH row IN entries %]
            <tr>
                <td class='controlname' >[% row.control_name %]</td>

                    [% IF row.can_operate %]
                        <td>
                            <button id='[% row.control_name %]' value='on'>On</button>
                        </td>
                        <td>
                            <button id='[% row.control_name %]' value='off'>Off</button>
                        </td>
                    [% ELSE %]
                        <td></td><td></td>
                    [% END %]

                <td align='center' id='[% row.control_name %]-state_alias'>[% row.current_state_value %]</td>
                <td class='controlname' id='[% row.control_name %]-request_time'>[% row.request_time %]</td>
                <td id='[% row.control_name %]-info'></td>
            </tr>
          [% END %]
        </table>

    </div>
</body>
</html>
